.p-3 {
  padding: 1rem!important;
}

.px-2 {
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem!important;
}

@media (min-width:1200px) {
  .p-xl-4 {
    padding: 1.5rem!important;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

